<h1><%= @market.name %></h1>
<div>
  <p><%= @market.street %></p>
  <p><%= @market.city %>, <%= @market.state %> <%= @market.zip %></p>
</div>

<h3>Vendors at our Market:</h3>
<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, market_vendor_path(@market.id, vendor.id), data: { turbo_method: :get } %></li>
  <% end %>
</ul>
